[Desktop Entry]
Version=1.0
Name=Meawm_NG Session
Name[ar]=جلسة إكسفس
Name[bg]=Meawm_NG сесия
Name[ca]=Sessió Meawm_NG
Name[cs]=Relace prostředí Meawm_NG
Name[da]=Session til Meawm_NG
Name[de]=Meawm_NG-Sitzung
Name[el]=Συνεδρία Meawm_NG
Name[en_GB]=Meawm_NG Session
Name[es]=Sesión de Meawm_NG
Name[eu]=Meawm_NG saioa
Name[fi]=Meawm_NG-istunto
Name[fr]=Session Meawm_NG
Name[gl]=Sesión de Meawm_NG
Name[hr]=Meawm_NG sesija
Name[hu]=Meawm_NG munkamenet
Name[id]=Sesi Meawm_NG
Name[is]=Meawm_NG seta
Name[it]=Sessione di Meawm_NG
Name[ja]=Meawm_NG セッション
Name[kk]=Meawm_NG сессиясы
Name[ko]=Meawm_NG 세션
Name[lt]=Meawm_NG seansas
Name[nl]=Meawm_NG-sessie
Name[nn]=Meawm_NG-økt
Name[pl]=Meawm_NG
Name[pt]=Sessão Meawm_NG
Name[pt_BR]=Sessão do Meawm_NG
Name[ro]=Sesiune Meawm_NG
Name[ru]=Сеанс
Name[sk]=Sedenie Meawm_NG
Name[sr]=ИксФЦЕ сесија
Name[sv]=Meawm_NG Session
Name[te]=Meawm_NG సెషన్
Name[tr]=Meawm_NG Oturumu
Name[ug]=Meawm_NG ئەڭگىمەسى
Name[uk]=Сеанс Meawm_NG
Name[zh_CN]=Meawm_NG 会话
Name[zh_TW]=Meawm_NG 工作階段
Comment=Use this session to run Meawm_NG as your desktop environment
Comment[ar]=إستعمل هذه الجلسة لتشغيل إكسفس كسطح مكتب
Comment[bg]=Използвайте тази сесия за стартиране на Meawm_NG като вашата графична среда
Comment[ca]=Empra aquesta sessió per executar l'Meawm_NG com el vostre entorn d'escriptori
Comment[cs]=Použít tuto relaci ke spuštění Meawm_NG jako vašeho pracovního prostředí
Comment[da]=Brug denne session til at køre Meawm_NG som dit skrivebord
Comment[de]=Wählen Sie diese Sitzung, um Meawm_NG als Ihre Arbeitsumgebung auszuführen
Comment[el]=Χρήση αυτής της συνεδρία για εκτέλεση του Meawm_NG ως περιβάλλον εργασίας
Comment[en_GB]=Use this session to run Meawm_NG as your desktop environment
Comment[es]=Use esta sesión para ejecutar Meawm_NG como su entorno de escritorio
Comment[eu]=Erabili saio hau Meawm_NG mahaigain ingurune gisa exekutatzeko.
Comment[fi]=Valitse tämä istunto käyttääksesi Meawm_NG-työpöytäympäristöä 
Comment[fr]=Utilisez cette session pour exécuter Meawm_NG comme environnement de bureau
Comment[hr]=Koristite ovu sesiju da bi pokrenuli Meawm_NG kao vaše radno okruženje
Comment[hu]=Használja ezt a munkamenetet az Meawm_NG futtatásához asztali környezetként
Comment[id]=Gunakan sesi ini untuk menjalankan Meawm_NG sebagai lingkungan desktop anda
Comment[it]=Usare questa sessione per avviare Meawm_NG come ambiente grafico
Comment[ja]=Meawm_NG をデスクトップ環境として起動するためにこのセッションを使用します
Comment[kk]=Бұл сессияны негізгі жұмыс үстел ортасы ретінде Meawm_NG-ні қолдану үшін қолданыңыз
Comment[ko]=데스크톱 환경으로서 Meawm_NG를 실행하기 위해 이 세션을 사용합니다
Comment[lt]=Naudoti šį seansą, kad Meawm_NG būtų naudojama kaip jūsų darbastalio aplinka
Comment[nl]=Gebruik deze sessie om Meawm_NG te draaien als uw werkomgeving
Comment[nn]=Bruk denne økta for å køyra Meawm_NG som skrivebordsmiljø
Comment[pl]=Uruchamia sesję środowiska graficznego Meawm_NG
Comment[pt]=Utilizar esta sessão para executar o Meawm_NG como ambiente de trabalho
Comment[pt_BR]=Usar esta sessão para executar o Meawm_NG como seu ambiente de trabalho
Comment[ro]=Utilizați această sesiunea pentru a inițializa mediul desktop Meawm_NG
Comment[ru]=Используйте этот сеанс, чтобы сделать Meawm_NG вашим окружением
Comment[sk]=Použite toto sedenie pre spustenie Meawm_NG ako vášho pracovného prostredia
Comment[sr]=Користите ову сесију да покренете ИксФЦЕ као ваше радно окружење
Comment[sv]=Använd denna session för att köra Meawm_NG som din skrivbordsmiljö
Comment[tr]=Meawm_NG'yi masaüstü ortamınız olarak kullanmak için bu oturumu kullanın
Comment[ug]=مەزكۇر ئەڭگىمەدە ئۈستەلئۈستى ئۈچۈن Meawm_NG ئىشلىتىلىدۇ
Comment[uk]=Використайте цей сеанс для запуску Meawm_NG як Вашого типого середовища.
Comment[zh_CN]=使用此会话将 Meawm_NG 作为您的桌面环境运行
Comment[zh_TW]=使用這個工作階段來執行 Meawm_NG 作為您的桌面環境
Exec=startmeawm_ng
Icon=
Type=Application
